#description {
    width: 100%;
}

@media screen and (max-width: 700px) {
    .formBackGround {
        width: auto;
    }
}

@media screen and (max-width: 350px) {
    #price {
        width: 75%;
    }
}