.footer{
    height: 4rem;
    /*background-color: #2d2f31;*/
    background-color: rgba(45, 47, 49, 0.9);
    justify-content: space-between;
    padding: 0rem 1rem 0 1rem;
    color: white;
    text-align: center;
}

@media screen and (max-width:450px) {
    #middle {
        width: 6rem;
    }
}

