.clickable {
    cursor: pointer;
}

h1 ,h2, .error, .success{
    text-align: center;
}

#command {
    justify-content: space-evenly;
    width: 75%;
    height: 7rem;
    margin: 5rem 0 5rem 0;
    border-radius: 5rem;
    background-color: rgba(0,0,0,20%);
}

.commandButton {
    height: 3rem;
    width: 10rem;
    border-radius: 2rem;
    border: solid;
    font-size: small;
}

@media screen and (max-width: 500px) {
    #command {
        width: 90%;
    }

    .commandButton {
        width: 7rem;
    }
}